{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    {% set next_order = "desc" if order == "asc" else "asc" %}
    {% if order == "asc" %}
        {% set order_icon = '<span class="order-icon glyphicon glyphicon-chevron-up"></span>' %}
    {% else %}
        {% set order_icon = '<span class="order-icon glyphicon glyphicon-chevron-down"></span>' %}
    {% endif %}
   
       <form action="{{ url_for(".edit_bidding") }}" method="post"  enctype=multipart/form-data>
   
   
    <div id="biddings" class="box">
        <div class="box-header">
            <span>Biddings        </span>
			
             <input type="submit" name="bidaction", value="Composite">
             <input type="submit" name="bidaction", value="Add free resource">
             <input type="submit" name="bidaction", value="Request for resource"> 
             {% with messages = get_flashed_messages(with_categories=true) %}
             
            {% if messages %}
                
                    {% for message in messages %}
                        ({{ message[1] }})
                    {% endfor %}
                
            {% endif %}
        {% endwith %}
  
             <br><br>

        </div>
        <div class="box-content">
            
            <ul class="nav nav-tabs" role="tablist">
                              
                <li {% if filter == "RTL" %}class="active"  {% endif %}>
                    <a href="{{ url_for(".biddings", sort=sort, order=order, filter="RTL") }}">
                        <span class="badge all">Ready to Lease</span>
                    </a>
                </li>
                <li {% if filter == "WTA" %}class="active"{% endif %}>
                    <a href="{{ url_for(".biddings", sort=sort, order=order, filter="WTA") }}">
                        <span class="badge ">Waiting to Acquire</span>
                    </a>
                </li>
  		
            </ul>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                         <th>
                            <a href="{{ url_for(".biddings", sort="id", order=next_order, filter=filter) }}"> ID</a>
                            {{ order_icon|safe if sort == "id"}}
                        </th>
                        
     						<th align=center>
                            <a href="{{ url_for(".biddings", sort="cloud_id", order=next_order, filter=filter) }}"> 
                            {% if filter == "RTL" %}Foreign Cloud  {% endif %}
                            {% if filter == "WTA" %} Home cloud{% endif %}
                            </a>
                           {{ order_icon|safe if sort == "cloud_id"}}
                        </th>
                        <th align=center >
                            <a href="{{ url_for(".biddings", sort="resource_id", order=next_order, filter=filter) }}"> 
                            Resource
                            </a>
                            {{ order_icon|safe if sort == "resource_id"}}
                        </th>
                       
                       <th>
                            <a href="{{ url_for(".biddings", sort="rtype_id", order=next_order, filter=filter) }}"> 
                            Resource Type
                            </a>
                            {{ order_icon|safe if sort == "rtype_id"}}
                        </th>
                        
                       <th >
                            <a href="{{ url_for(".biddings", sort="postedat", order=next_order, filter=filter) }}"> 
                            Posted at</a>
                            {{ order_icon|safe if sort == "postedat"}}
                        </th>
                       <th >
                            <a href="{{ url_for(".biddings", sort="postedat", order=next_order, filter=filter) }}"> 
                            Starts at </a>
                            {{ order_icon|safe if sort == "postedat"}}
                        </th>
                       
                       <th>
                            <a href="{{ url_for(".biddings", sort="expiresat", order=next_order, filter=filter) }}"> 
                            Expires at</a>
                            {{ order_icon|safe if sort == "expiresat"}}
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".biddings", sort="status", order=next_order, filter=filter) }}"> 
                            Status</a>
                            {{ order_icon|safe if sort == "status"}}
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".biddings", sort="threshold", order=next_order, filter=filter) }}"> Threshold</a>
                            {{ order_icon|safe if sort == "threshold"}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in biddings %}
                        <tr>
                          <td>{{ t[0] }}</td>
                          <td title="">
                              <a href="{{ url_for(".profile", cid=t[1]) }}">{{ t[2]}} </a><br/>
                              <small>{{t[3]}}</small>
                          </td>
                           
                           
                          <td > <a href="{{ t[4] }}">  {{ t[5] }} </a> <br>  
                          <small>{{t[6]}} {{t[7]}}</small>
                          </td>
                          <td align=center>{{ t[8] }}</td>
                          <td> {{t[10]}} <br> <small> {{t[9]}} </small>   </td>
                                        
                          <td> {{t[12]}} ss<br> <small> {{t[11]}} </small>   </td>
                          <td> {{t[14]}} ss<br> <small> {{t[13]}} </small>   </td>
                          <td>{{ t[15] }} </td>
                          <td >
                          {%if t[15]=="expired"%}
                           <span class="glyphicon glyphicon-plus" title="request expired"></span>
                           
                          {%else%}
                          <a href="{{ url_for(".add_to_compare", cid=t[1]) }}">  <span class="glyphicon glyphicon-plus" title="offer this resource"></span> </td>
                          {%endif%}
                          
                        </tr>
                    {% endfor %}
           
                     
                </tbody>
            </table>
           
            
        </div>
    </div>
    
     
    
{% endblock %}