{%if session['logged_in'] and session['access_level']==1%}

		{% if not is_xhr|default(false) %}
		{% extends "base.html" %}{% endif %}
		
{%endif%}

{%if session['logged_in'] and session['access_level']==2%}

		{% if not is_xhr|default(false) %}
		{% extends "basecsp.html" %}{% endif %}
{%endif%}

{% block content %}
    {% set next_order = "desc" if order == "asc" else "asc" %}
    {% if order == "asc" %}
        {% set order_icon = '<span class="order-icon glyphicon glyphicon-chevron-up"></span>' %}
    {% else %}
        {% set order_icon = '<span class="order-icon glyphicon glyphicon-chevron-down"></span>' %}
    {% endif %}
   
   
  {% if filter == "RTL" %}
  		{% set cloud_title = "Provider"%}
  		{% set info_type = "Transaction Details"%}
  		{%set icon_title = 'Acquire this resource'%} 
	
	{% elif filter == "WTA" %} 
		{% set cloud_title = "Requester"%}
		 {% set info_type = "Transaction Details"%}
		{%set icon_title = 'Offer this resource'%}
  
  {% endif %}                        
                            
       <form action="{{ url_for(".edit_bidding") }}" method="post"  enctype=multipart/form-data>
   
   
    <div id="biddings" class="box">
        <div class="box-header">
            <span>Biddings        </span>
			
             <!-- <input type="submit" name="bidaction", value="Composite">--> 
             <input type="submit" name="bidaction", value="Add free resource">
             <input type="submit" name="bidaction", value="Request for resource"> 
             {% with messages = get_flashed_messages(with_categories=true) %}
             
            {% if messages %}
                
                    {% for message in messages %}
                        ({{ message[1] }})
                    {% endfor %}
                
            {% endif %}
        {% endwith %}
  
             <br><br>

        </div>
        <div class="box-content">
            
            <ul class="nav nav-tabs" role="tablist">
                              
                <li {% if filter == "RTL" %}class="active"  {% endif %}>
                    <a href="{{ url_for(".biddings",trid=trid, sort=sort, order=order, filter="RTL") }}">
                        <span class="badge all">Ready to Lease</span>
                    </a>
                </li>
                <li {% if filter == "WTA" %}class="active"{% endif %}>
                    <a href="{{ url_for(".biddings", trid=trid,sort=sort, order=order, filter="WTA") }}">
                        <span class="badge ">Waiting to Acquire</span>
                    </a>
                </li>
  		
            </ul>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                         <th>
                            <a href="{{ url_for(".biddings",trid=trid, sort="biddings.id", order=next_order, filter=filter) }}"> ID</a>
                            {{ order_icon|safe if sort == "biddings.id"}}
                        </th>
                        
     					
                        <th align=center width=180px>
                            <a href="{{ url_for(".biddings",trid=trid, sort="cloud_id", order=next_order, filter=filter) }}"> 
                            {{cloud_title|safe}}
                            </a>
                           {{ order_icon|safe if sort == "cloud_id"}}
                        </th>
                        <th align=center>
                            <a href="{{ url_for(".biddings",trid=trid, sort="cloud_id", order=next_order, filter=filter) }}"> 
                            {{info_type |safe}}
                            </a>
                           {{ order_icon|safe if sort == "cloud_id"}}
                        </th>
                        <th align=center >
                            <a href="{{ url_for(".biddings",trid=trid, sort="resource_id", order=next_order, filter=filter) }}"> 
                            Resource
                            </a>
                            {{ order_icon|safe if sort == "resource_id"}}
                        </th>
                       
                       <th>
                            <a href="{{ url_for(".biddings", trid=trid,sort="rtype_id", order=next_order, filter=filter) }}"> 
                            Resource Type
                            </a>
                            {{ order_icon|safe if sort == "rtype_id"}}
                        </th>
                        
                       <th >
                            <a href="{{ url_for(".biddings", trid=trid,sort="postedat", order=next_order, filter=filter) }}"> 
                            Posted at</a>
                            {{ order_icon|safe if sort == "postedat"}}
                        </th>
                       <th >
                            <a href="{{ url_for(".biddings",trid=trid, sort="postedat", order=next_order, filter=filter) }}"> 
                            Starts at </a>
                            {{ order_icon|safe if sort == "postedat"}}
                        </th>
                       
                       <th>
                            <a href="{{ url_for(".biddings",trid=trid, sort="expiresat", order=next_order, filter=filter) }}"> 
                            Expires at</a>
                            {{ order_icon|safe if sort == "expiresat"}}
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".biddings", trid=trid,sort="status", order=next_order, filter=filter) }}"> 
                            Status</a>
                            {{ order_icon|safe if sort == "status"}}
                        </th>
                        
                       
                    </tr>
                </thead>
                <tbody>
                    {% for t in biddings %}
                        <tr>
                          <td>{{ t[0] }}</td>
                         
                          <td title="">
                             <small> <a href="{{ url_for(".profile", cid=t[1]) }}">{{ t[2]}} </a><br>
                              <small>  Trust Score: {{t[3]}}</small>
                          </td>
                         <td ><a href=""> TRX:{{t[5]}}</a> <br> ({{t[4]}})  <br> <small>Foreign Peers: {{t[6]}} </small> </td>   
                           
                          <td > {{t[8]}}   </a> <br>  
                          <small> {{t[9]}} {{t[10]}} </small>
                          </td>
                                        
                          <td> {{t[11]}}</td> 
                          <td> {{t[13]}} <br> <small> {{t[12]}} </small>   </td>
                          <td> {{t[15]}} <br> <small> {{t[14]}} </small>   </td>
                          <td>	{{ t[17] }} <br> <small> {{t[16]}} </small>  </td>
                          <td>{{ t[18] }} </td>
                         

                          <td >
                          {%if t[18]=="expired"%}
                           <span class="glyphicon glyphicon-plus" title="request expired"></span>
                           
                          {%else %}
                          <a href="{{ url_for(".dep_graph", cid=t[1], trid=trid) }}">  
                          <span class="glyphicon glyphicon-plus" 
                          title="{{icon_title|safe}}"></span> </td>
                          {%endif%}
                          
                        </tr>
                    {% endfor %}
           
                </tbody>
            </table>
           
            
        </div>
    </div>
    
     
    
{% endblock %}