{% if not is_xhr|default(false) %}{% extends "base2.html" %}{% endif -%}
{% block content %}
    <div id="compare" class="box">
       
        <div class="box-header">
            <span>Comparison </span>
            
        </div>
        
        <div class="box-content">
            <ul class="nav nav-tabs" role="tablist">
                <li {% if section == "overview" %}class="active"{% endif %}>
                    <a href="{{ url_for(".compare_trust")}}">Overview</a>
                </li>
        <li {% if section == "objective" %}class="active"{% endif %}>
                    <a href="{{ url_for(".compare_trust" , section="objective") }}">Objective Comparison</a>
                </li>
                <li {% if section == "subjective" %}class="active"{% endif %}>
                    <a href="{{ url_for(".compare_trust", section="subjective") }}">Subjective Comparison</a>
                </li>
                 <li {% if section == "graph" %}class="active"{% endif %}>
                    <a href="{{ url_for(".compare_trust", section="graph") }}">Visualize
                    
                    </a>
                </li>
      </ul>     

                  {% block compare_content %}{% endblock %}
        </div>
    </div>
{% endblock %}