{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
   

   
   
    {% set next_order = "desc" if order == "asc" else "asc" %}
    {% if order == "asc" %}
        {% set order_icon = '<span class="order-icon glyphicon glyphicon-chevron-up"></span>' %}
    {% else %}
        {% set order_icon = '<span class="order-icon glyphicon glyphicon-chevron-down"></span>' %}
    {% endif %}
    
    <form action="{{ url_for(".edit_transaction") }}" method="post"  enctype=multipart/form-data>
    
    <div id="transaction" class="box">
        <div class="box-header">
            <span> Transactions        	   </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
             {% with messages = get_flashed_messages(with_categories=true) %}
             
            {% if messages %}
                
                    {% for message in messages %}
                        ({{ message[1] }})
                    {% endfor %}
                
            {% endif %}
        {% endwith %}
        
             <br>
             <input type="submit" name="faction", value="New"> 
             <input type="submit" name="faction", value="Delete">
             <input type="submit" name="faction", value="Join">
        </div> <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".transactions", sort="id", order=next_order, filter=tfilter) }}"> ID</a>
                            {{ order_icon|safe if sort == "id"}}
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".transactions", sort="cloud_id", order=next_order, filter=tfilter) }}"> Home cloud</a>
                            {{ order_icon|safe if sort == "cloud_id"}}
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".transactions", sort="timedate", order=next_order, filter=tfilter) }}"> Last Activity</a>
                            {{ order_icon|safe if sort == "timedate"}}
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".transactions", sort="status", order=next_order, filter=tfilter) }}"> Status</a>
                            {{ order_icon|safe if sort == "status"}}
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".transactions", sort="nopeers", order=next_order, filter=tfilter) }}"> No of peers</a>
                            {{ order_icon|safe if sort == "nopeers"}}
                        </th>
                        
                        
                        <th>
                            <a href="{{ url_for(".transactions", sort="threshold", order=next_order, filter=tfilter) }}"> Threshold</a>
                            {{ order_icon|safe if sort == "threshold"}}
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                 
         
                    {% for t in transactions %}
                    
                    
         				
                        <tr>
            
         <td > <input type="checkbox" value={{t[0]}} name="tid">
          </td>                 
            <td> {{ t[0] }}  </td>
          
           
          <td title="{{ t[2] }}">  <a href="{{ url_for(".profile", cid=t[1]) }}"> {{ t[2] }} </a>          
                        
                          </td>
                         
          					
                          
                          <td>{{ t[3] }}</td>
                          <td>{{ t[4] }}</td>
                          <td>{{ t[5] }}</td>
                          <td>{{ t[6] }}</td>
                       
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}