{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}

{% block content %}


Usama Ahmed 

<br> 



 

<div id="dashboard">
        <div class="box cpu">
            <div class="box-header">
                <span>CPU</span>
            </div>
            <div class="box-content">
                <table class="table">
              <tr>
              <td>This is testing

<br> 

I have successfuly added a new page and have started integrating <br> Module 2: CAIQ based Evaluation, with Module 1 Registration. 
<br> 
Working with Python / Flask like a boss.  
  </td> 
              
               </tr>
                </table>
            </div>
        </div>
 
{% endblock %}