{%if session['logged_in'] and session['access_level']==1%}

		{% if not is_xhr|default(false) %}
		{% extends "base.html" %}{% endif -%}
		
{%endif%}

{%if session['logged_in'] and session['access_level']>=2%}

		{% if not is_xhr|default(false) %}
		{% extends "base2csp.html" %}{% endif -%}
{%endif%}

{% block content %}
	  {% with messages = get_flashed_messages(with_categories=true) %}
             
            {% if messages %}
                
                    {% for message in messages %}
                        ({{ message[1] }})
                    {% endfor %}
                
            {% endif %}
        {% endwith %}
		<div id="compare" class="box">
       
        <div class="box-header">
        
            <span>Recommendation for <b> {{home_cloud[1]}} </b> and <b> {{foreign_cloud[1]}} 
            </b> trust  relation  </span>
            
            <br> <p class="text-center"> <a href = "{{ url_for(".dep_graph",cid=foreign_cloud[0], trid=trid, engage="True")  }}"> (Engage </a> 
            |  <a href = "{{ url_for(".biddings")  }}"> Back ) </a> </p>
        
        </div>	 

        <table class="table">
        <thead>
     
        <tr class="skip-border">
     
                <th width=200px>Parameters</th>  
                 
                <th align=center width=200px> Home Cloud  
                
            </th> 
             <th align=center width=200px> Parent Cloud  
                
            </th> 
             <th align=center width=200px> Foreign Cloud  
                
            </th> 
            
            </tr>
        </thead>
        
        <tr> <td width='200px' > ID </td> 
                 
                <td > {{home_cloud[0]}}  </td> 
                <td> {{parent_cloud[0]}} </td> 
                <td > {{foreign_cloud[0]}}  </td>
          
              </tr>
        
        <tr> <td width='200px' > Name  </td> 
                 
              <td > {{home_cloud[1]}}  </td> 
              <td> {{parent_cloud[1]}} </td>
                <td > {{foreign_cloud[1]}}  </td>
                
              </tr>
        
             
        <tr> <td width='200px' >Average Trust Value </td> 
                 
                <td > {{home_cloud[2]}}  </td>
                <td> {{parent_cloud[2]}} </td> 
                <td > {{foreign_cloud[2]}}  </td> 
              </tr>
        
        <tr>
        <td width='200px' >Composite Trust Value </td> 
        <td> {{obj_trust['final_trust']}} </td> 
        <td colspan="2"><img width=300px src = "/static/{{gfilename}}"> </td> 
         </tr>
    
    </table>
    
    
{% endblock %}
