{%if session['logged_in'] and session['access_level']==1%}

		{% if not is_xhr|default(false) %}
		{% extends "base.html" %}{% endif -%}
		
{%endif%}

{%if session['logged_in'] and session['access_level']>=2%}

		{% if not is_xhr|default(false) %}
		{% extends "basecsp.html" %}{% endif -%}
{%endif%}

{% block content %}
	
		<div id="compare" class="box">
       
        <div class="box-header">
        
            <span>Recommendation for <b> {{home_cloud[1]}} </b> and <b> {{foreign_cloud[1]}} </b> trust  relation </span>
            
        </div>	 

        <table class="table">
        <thead>
     
        <tr class="skip-border">
     
                <th width=200px>Parameters</th>  
                 
              
                 
                <th align=center> Home Cloud  
                
            </th> 
             <th align=center> Foreign Cloud  
                
            </th> 
            
            </tr>
        </thead>
        
        <tr> <td width='200px' > ID </td> 
                 
                <td > {{home_cloud[0]}}  </td> 
                <td > {{foreign_cloud[0]}}  </td>
          
              </tr>
        
        <tr> <td width='200px' > Name  </td> 
                 
              <td > {{home_cloud[1]}}  </td> 
                <td > {{foreign_cloud[1]}}  </td>
                
              </tr>
        
             
        <tr> <td width='200px' >Average Trust Value </td> 
                 
                <td > {{home_cloud[2]}}  </td> 
                <td > {{foreign_cloud[2]}}  </td> 
              </tr>
        
        <tr><td width='200px' >Composite Trust Value </td> <td> {{obj_trust['final_trust']}} </td> <td><img width=300px src = "/static/{{gfilename}}"> </td>  </tr>
    <form action="{{ url_for(".add_transaction") }}" method="post"  enctype=multipart/form-data>
    <input type="text" name="hcloud_id" value="{{home_cloud[0]}}">
    <input type="text" name="fcloud_id" value="{{foreign_cloud[0]}}">
    <input type="text" name="comp_trust" value="{{obj_trust['final_trust']}}">
    
    	<tr><td> </td> <td> </td>  <td> <input type="submit" name="bidaction", value="Engage">	
    	
    	
    	</td> 
    	
    	</tr> 
        
    </table>
    
    
{% endblock %}
