{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}


    
       
    <div id="dashboard">
        <div class="box cpu">
            <div class="box-header">
            </div> 
            
            
            
            
            <div class="box-content">
                <table class="table">
                    
                  <tr>   
                {{node}}
                   Last performance:  <br> 
                  average performance {{avg_perf}} objects per seconds <br> 
                   Node: {{performance[0][1]}} <br> 
                   Project ID = {{performance[0][2]}}
                   
                  
                   
                   
                  </td> 
                  </tr> 
                  
                    <tr>
                        <td class="iowait">Cores = {{ num_cpus }}</td>
                    </tr>

          <tr>
                        <td class="total"> Memory = {{ memory.total|filesizeformat }}</td>
                    </tr>
           
                            <tr> <td> 
                        {% for d in disks %}
                            
                                {{ d.device }} =  
                                
                                {{ d.space_total|filesizeformat }} <br> 
                              
                        {% endfor %}
       </td> 
                            </tr>
           
           
                </table>
            
        </div>
    </div>
       
