{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
 
    <div id="dashboard">
        <div class="box cpu">
            <div class="box-header">
            </div> 
            
            <div class="box-content">
                <table class="table">
                    
                Usama 
  
                {% for id, n in nodes.iteritems() %}
                             <iframe height="50%" width="80%"   src="{{ url_for(".index", node=id) }}" >  
                             </iframe>
 {% endfor %}

                  
                    <tr>
                        <td class="iowait">Cores = {{ num_cpus }}</td>
                    </tr>

          <tr>
                        <td class="total"> Memory = {{ memory.total|filesizeformat }}</td>
                    </tr>
           
                            <tr> <td> 
                        {% for d in disks %}
                            
                                {{ d.device }} =  
                                
                                {{ d.space_total|filesizeformat }} <br> 
                              
                        {% endfor %}
       </td> 
                            </tr>
           
           
                </table>
            
        </div>
    </div>
       
{% endblock %}
