{% if not is_xhr|default(false) %}{% extends "base2.html" %}{% endif -%}

{% block content %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Cloud Registration :: Trust-aware Cross-cloud broker</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
  
  <form action="" method="post"  enctype=multipart/form-data>
            {{ form.csrf }}
            
     <div id="signup">
        <div class="box cpu">
            <div class="box-header">
                <span>Create a User</span>
            </div>
            <div class="box-content">
                <table class="table">
                                       <tr>
                        <td class="label-col">   {{ form.username.label }} 
            </div></td>
                        <td class="system"><div class="input text">
                 {{ form.username }}
            </div></td>
                    </tr>
                    
                    <tr>
                        <td class="label-col">    {{ form.password.label }} 
            </div></td>
                        <td class="system"><div class="input text">
                 {{ form.password }}
            </div></td>
                    </tr>
                    <tr>
                        <td class="label-col">
                {{ form.confirm.label }} 
            </div></td>
                        <td class="system"><div class="input text">
                 {{ form.confirm }}
            </div></td>
                    </tr>     
                    
                    <tr>
                        <td class="label-col">
                
                 </td>
                        <td class="system"><div class="checkbox">
                        {{form.accept_tos}} &nbsp;  {{form.accept_tos.label}}
            </div>
            </td>
                    </tr>     
                    
                        
                 
                        
                        
                        <td class="label-col">                	</td>
                        
                        <td class="idle">
                        
                <input type="submit" value="signup" >
            </td>
            
                    </tr>

        </form>
    </body>
</html>
{% endblock %}