{%if session['logged_in'] and session['access_level']==1%}

		{% if not is_xhr|default(false) %}
		{% extends "base.html" %}{% endif %}
		
{%endif%}

{%if session['logged_in'] and session['access_level']>=2%}

		{% if not is_xhr|default(false) %}
		{% extends "basecsp.html" %}{% endif %}
{%endif%}

{% block content %}
   

   
   
    {% set next_order = "desc" if order == "asc" else "asc" %}
    {% if order == "asc" %}
        {% set order_icon = '<span class="order-icon glyphicon glyphicon-chevron-up"></span>' %}
    {% else %}
        {% set order_icon = '<span class="order-icon glyphicon glyphicon-chevron-down"></span>' %}
    {% endif %}
    
    
    <div id="transaction" class="box">
        <div class="box-header">
            <span> Transactions        	   </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
             {% with messages = get_flashed_messages(with_categories=true) %}
             
            {% if messages %}
                
                    {% for message in messages %}
                        ({{ message[1] }})
                    {% endfor %}
                
            {% endif %}
        {% endwith %}
        
             <br>
             
        </div> <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".transactions", sort="id", order=next_order, filter=tfilter) }}"> 
                            ID</a>
                            {{ order_icon|safe if sort == "id"}}
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".transactions", sort="cloud_id", order=next_order, filter=tfilter) }}">
                             Home cloud
                             </a>
                            {{ order_icon|safe if sort == "cloud_id"}}
                        </th>
                        <th>
                            <a href="{{ url_for(".transactions", sort="lastpeer", order=next_order, filter=tfilter) }}"> 
                            Last known peer</a>
                            {{ order_icon|safe if sort == "lastpeer"}}
                        </th>
                                               
                        <th >
                            <a href="{{ url_for(".transactions", sort="nopeers", order=next_order, filter=tfilter) }}"> 
                          Foreign peers</a>
                            {{ order_icon|safe if sort == "nopeers"}}
                        </th>
                        
                        <th>
                            <a href="{{ url_for(".transactions", sort="timedate", order=next_order, filter=tfilter) }}">
                             Last Activity</a>
                            {{ order_icon|safe if sort == "timedate"}}
                        </th>
                        
                        
                        
                         <th>
                            <a href="{{ url_for(".transactions", sort="threshold", order=next_order, filter=tfilter) }}"> Trust Threshold</a>
                            {{ order_icon|safe if sort == "threshold"}}
                        </th>
                        <th>
                            <a href="{{ url_for(".transactions", sort="threshold", order=next_order, filter=tfilter) }}"> Evaluated Trust </a>
                            {{ order_icon|safe if sort == "threshold"}}
                        </th>
                      <th >
                        
                          <a href="{{ url_for(".transactions", sort="status", order=next_order, filter=tfilter) }}"> 
                          Status</a>
                            {{ order_icon|safe if sort == "status"}}
                        </th>
                         
                         <th >
                        
                          <a href="{{ url_for(".transactions", sort="status", order=next_order, filter=tfilter) }}"> 
                          Search a Resource</a>
                            {{ order_icon|safe if sort == "status"}}
                        </th>
                      
                    </tr>
                </thead>
                <tbody>
                     {% for t in transactions %}
                     	{%if t|length ==0 %}  No on going transactions  {%endif%}
                        <tr>
            
         <td > <input type="checkbox" value={{t[0]}} name="tid">
          </td>                 
            <td> {{ t[0] }}  </td>
          
           
          <td title="{{ t[2] }}">  <a href="{{ url_for(".profile", cid=t[1]) }}"> {{ t[2] }} </a>          
                        
                          </td>
                         
                          <td align="center">{{ t[3] }}</td>
                          <td align="center">{{ t[4] }}</td>
                          <td align="center">{{ t[5] }} <br>  <small> {{t[6]}}</small>  </td>
                          
                          <td align="center">{{ t[7] }}</td>
                          <td align="center">{{ t[8] }}</td>
                       		<td align="center">{{ t[9] }}</td>
   
             		  <td> <a href="{{ url_for(".biddings", trid=t[0]) }}"> 
            		   <img width=30px src=/static/images/new.png> </a> </td>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}